<div class="modal-body">
    <div class="row">
        <div class="col-sm-12">
            <div class="alert alert-warning">
                <i class="fa fa-warning"></i>
                @ViewBag.ErrorMessage
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-default" data-dismiss="modal">@Messages.Close</button>
</div>


