ALTER TABLE [dbo].[Users] Add [InsuranceFile] nvarchar(500) NULL;
  GO

ALTER TABLE [dbo].[Users] Add [MedicalCertificateFile] nvarchar(500) NULL;
  GO

ALTER TABLE [dbo].[Users] Add [ShirtSize] nvarchar(2) NULL;
  GO