<head>
    <link href="~/Content/css/style.css" rel="stylesheet" />
</head>
<div style="width: 50%; margin: 0 auto;">
    <h2>Payment Success</h2>
</div>
<header>
    <div id="RegistrationResults">
        <h1 style="text-align:center;">@Messages.ThankYou<br /></h1>
        <h1 style="text-align:center;">@Messages.SuccessRegister<br /></h1>
    </div>
</header>
<body>
    <div id="RegistrationResults" style="margin-top:10px; border:none;">
        <footer>
            <div class="pull-left bot-title" style="float:left;">Powered By</div>
            <img src="@Url.Content("~/content/images/logo.png")" class="pull-left bot-logo" alt="Powered By LogLig" />
            <div class="clearfix"></div>
        </footer>
    </div>
</body>
