<div id="divLoadingDialog" style="display: none; position: fixed; top:0; bottom:0; left:0; right:0; background-color: rgba(115,115,115,0.5);z-index: 9999;">
    <div style="background-color: white; margin: auto; width: 300px;padding: 20px; vertical-align:central; text-align:center; margin-top: 100px;    box-shadow: 0 5px 15px rgba(0, 0, 0, .5);">
        <span id="divLoadingDialog_Message">@Messages.LoadingDialog_DefaultMessage</span>
    </div>
</div>
