sports-app/CmsApp/assets
sports-app/CmsApp/ckeditor
App_Data
[Bb]in
[Oo]bj
[Tt]est[Rr]esults
*.suo
*.user
*.[Cc]ache
*[Rr]esharper*
packages
NuGet.exe
_[Ss]cripts
*.exe
*.dll
*.nupkg
*.ncrunchsolution
*.dot[Cc]over
*.pubxml
*.dbmdl
.vs
*.map
*.csproj.user
node_modules/


/sports-app/CmsApp/Content/app
/sports-app/CmsApp/ConnStr.config
/sports-app/CmsApp/Content/excelfiles/._english_tennis_category_excel.xlsx
/sports-app/CmsApp/Content/excelfiles/._hebrew_tennis_category_excel.xlsx
/sports-app/CmsApp/Properties/Resources.Designer.cs
/sports-app/WebApi/XmlDocument.xml
/sports-app/CmsApp/Scripts/pages/gameCycleList.js

/sports-app/AppData/App.config

/sports-app/CmsApp/Scripts/pages/benefitsList.js
