<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
	<configSections>

		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
		<section name="aws" type="Amazon.AWSSection, AWSSDK.Core" />
	</configSections>
	<connectionStrings>
		<!-- dev -->
		<!--<add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=XDWN2H5TTC0XX9T\SQLEXPRESS;Initial Catalog=LogLigDB;user id=sa;password=123;MultipleActiveResultSets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="LogLigConnectionString" connectionString="Data Source=XDWN2H5TTC0XX9T\SQLEXPRESS;Initial Catalog=LogLigDB;Integrated Security=True;User ID=sa;Password=123"
     providerName="System.Data.SqlClient" />
    <add name="LogLigDBConnectionString" connectionString="Data Source=XDWN2H5TTC0XX9T\SQLEXPRESS;Initial Catalog=LogLigDB;Persist Security Info=True;User ID=sa;Password=123"
      providerName="System.Data.SqlClient" />-->

		<!-- commit -->
		<!-- <add name="AdoConnectionString" connectionString="Data Source=admin\SQLEXPRESS;Initial Catalog= LogLig;User ID=sa;Password=sa; Integrated Security=True;" providerName="System.Data.SqlClient" /> -->
		<add name="DataEntities" connectionString="metadata=res://*/DataModel.csdl|res://*/DataModel.ssdl|res://*/DataModel.msl;provider=System.Data.SqlClient;provider connection string=&quot; Data Source=localhost;Initial Catalog=LogLig;Connection Timeout=600;Integrated Security=True;MultipleActiveResultSets=true;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
		<add name="LogLigConnectionString" connectionString="Data Source=localhost;Initial Catalog=LogLig;Connection Timeout=600;Integrated Security=True;" providerName="System.Data.SqlClient" />
		<add name="LogLigDBConnectionString" connectionString="Data Source=localhost;Initial Catalog=LogLig;Connection Timeout=600;Persist Security Info=True;" providerName="System.Data.SqlClient" />
	</connectionStrings>
	<appSettings>
		<!--in debug-->
		<add key="MailServerDebug" value="smtp.gmail.com" />
		<!--in release-->
		<add key="MailServer" value="smtp.gmail.com" />
		<add key="MailServerSenderAdress" value="logligwebapi@gmail.com" />
		<add key="MailServerSenderName" value="Loglig" />
		<!--QA /Production release-->
		<add key="IsTestEvironment" value="True" />
		<!--Production server-->
    <!--<add key="ImageUrl" value="C:\Publish\ProductionCMS\assets\players\" />
    <add key="ChatUrl" value="C:\Publish\ProductionCMS\assets\uploads" />
    <add key="TeamUrl" value="C:\Publish\ProductionCMS\assets\teams" />
    <add key="LeagueUrl" value="C:\Publish\ProductionCMS\assets\leagues" />-->
		<!--Dev server-->
    <add key="ImageUrlLocal" value="D:\log-lig-apps-new\prod\atheletic\LogLig-Main\WebApi\assets\players\" />
    <add key="ImageUrl" value="C:\Publish\DevCMS\assets\players\" />
		<add key="ChatUrl" value="C:\Publish\DevCMS\assets\uploads" />
		<add key="TeamUrl" value="C:\Publish\DevCMS\assets\teams" />
		<add key="LeagueUrl" value="C:\Publish\DevCMS\assets\leagues" />
		<add key="ClubUrl" value="C:\Publish\DevCMS\assets\clubs" />

		<!--Local server-->
		<!--<add key="ImageUrl" value="C:\Users\Snowww\Documents\Visual Studio 2017\Projects\logligServer\Loglig-Main\CmsApp\assets\players\" />
    <add key="ChatUrl" value="C:\Users\Snowww\Documents\Visual Studio 2017\Projects\logligServer\Loglig-Main\CmsApp\assets\uploads" />
    <add key="TeamUrl" value="C:\Users\Snowww\Documents\Visual Studio 2017\Projects\logligServer\Loglig-Main\CmsApp\assets\teams" />
    <add key="LeagueUrl" value="C:\Users\Snowww\Documents\Visual Studio 2017\Projects\logligServer\Loglig-Main\CmsApp\assets\leagues" />-->

		<!-- pdf upload settings -->
		<add key="PdfRoute" value="C:\LogLigGit\LogLig-Main\CmsApp\" />
		<add key="PdfUrl" value="http://loglig.com:8080/Pdf/" />

		<!-- AWS SNS Platform ARNs -->
		<add key="PlatformArnAPNS_Basketball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/LogLig-Basketball" />
		<add key="PlatformArnAPNS_Volleyball" value="" />
		<add key="PlatformArnAPNS_Netball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/LogLig-Catchball" />
		<add key="PlatformArnAPNS_Waterpolo" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/Loglig-waterpolo-prod" />

		<add key="PlatformArnAPNS_SANDBOX_Basketball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Basketball" />
		<add key="PlatformArnAPNS_SANDBOX_Volleyball" value="" />
		<add key="PlatformArnAPNS_SANDBOX_Netball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Catchball" />
		<add key="PlatformArnAPNS_SANDBOX_Waterpolo" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Waterpolo-dev" />

		<add key="PlatformArnGCM" value="arn:aws:sns:eu-west-1:650058904732:app/GCM/LogLig-Android" />
		<add key="PlatformArnGCM_TEST" value="arn:aws:sns:eu-west-1:650058904732:app/GCM/LogLig-Android" />
	</appSettings>
	<system.web>
		<authentication mode="None" />
		<compilation debug="true" targetFramework="4.5" />
		<customErrors mode="Off" />
		<httpRuntime targetFramework="4.5" maxRequestLength="104857600" />
		<machineKey validationKey="A171936CEA4D4D99DBD86E90090D60E4EAAEA7A4881A8FE983F11673D0B8E6823010A4DD34051ADC79CB78AB8263B9171A47AFF19C6D01990CFDEC8B01135ED0" decryptionKey="A56F794E734685DB0BE110E58BE0994E96822C467FADF50CD71C0F7C108EAB84" validation="SHA1" decryption="AES" />
	</system.web>
	<system.webServer>
		<modules runAllManagedModulesForAllRequests="true">
			<remove name="FormsAuthentication" />
			<remove name="WebDAVModule" />
		</modules>
		<handlers>
			<remove name="ExtensionlessUrlHandler-Integrated-4.0" />
			<remove name="OPTIONSVerbHandler" />
			<remove name="TRACEVerbHandler" />
			<remove name="WebDAV" />
			<add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
		</handlers>
		<security>
			<requestFiltering>
				<!-- maxAllowedContentLength, for IIS, in bytes -->
				<requestLimits maxAllowedContentLength="104857600"></requestLimits>
			</requestFiltering>
		</security>
	</system.webServer>
	<runtime>
		<assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-3.1.0.0" newVersion="3.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
				<bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
				<bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
			</dependentAssembly>
			<dependentAssembly>
				<assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" culture="neutral" />
				<bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
			</dependentAssembly>
		</assemblyBinding>
	</runtime>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
			<parameters>
				<parameter value="mssqllocaldb" />
			</parameters>
		</defaultConnectionFactory>
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<aws region="eu-west-1" profileName="development" profilesLocation="C:\aws-credentials">
	</aws>
	<system.codedom>
		<compilers>
			<compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
			<compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
		</compilers>
	</system.codedom>
</configuration>