<?xml version="1.0"?>
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="true" />
  <add key="PreserveLoginUrl" value="true" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  <add key="ValidImages" value=".jpg|.png|.gif|.jpeg|.pdf" />
  
  <add key="ContentPath" value="/assets" />
  <add key="SiteUrl" value="https://loglig.com:8090" />
  <add key="PdfRoute" value="C:\LogLigGit\LogLig-Main\CmsApp\" />
  <add key="PdfUrl" value="http://loglig.com:8080/Pdf/" />
  
  <add key="ActivityStatusTruncateThreshold" value="100" />

  <!-- test / prod -->
  <add key="IsTestEvironment" value="True" />

  <!-- files scurity scane -->
  <add key="MetaScanCookieName" value="AWSSESSGUID" />
  <add key="MetaScanHost" value="metascan-cloud.yit.co.il" />
  <add key="MetaScanBaseUri" value="http://metascan-cloud.yit.co.il:8008/metascan_rest/file" />
  <add key="ExtensionsAllowed" value="png,jpg,jpeg,gif,pdf,jpg/jpeg,pdf/ai" />
  <add key="MaxFileSize" value="2000"/>


  <!--in debug-->
  <add key="MailServerDebug" value="smtp.gmail.com" />
  <!--in release-->
  <add key="MailServer" value="smtp.gmail.com" />
  <add key="MailServerSenderAdress" value="logligwebapi@gmail.com" />
  <add key="MailServerSenderName" value="Loglig" />
  <add key="MailAdminEmailAddress" value="info@loglig.com" />

  <!-- AWS SNS Platform ARNs -->
  <add key="PlatformArnAPNS_Basketball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/LogLig-Basketball"/>
  <add key="PlatformArnAPNS_Volleyball" value=""/>
  <add key="PlatformArnAPNS_Netball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/LogLig-Catchball"/>
  <add key="PlatformArnAPNS_Waterpolo" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/Loglig-waterpolo-prod"/>
  <add key="PlatformArnAPNS_Gymnastics" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/Loglig-Gymnastics"/>
  <add key="PlatformArnAPNS_Karate" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/Loglig-Karate"/>
  <add key="PlatformArnAPNS_Tennis" value="arn:aws:sns:eu-west-1:650058904732:app/APNS/Loglig-Tennis"/>
  <add key="PlatformArnGCM" value="arn:aws:sns:eu-west-1:650058904732:app/GCM/LogLig-Android"/>

  <add key="PlatformArnAPNS_SANDBOX_Basketball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Basketball"/>
  <add key="PlatformArnAPNS_SANDBOX_Volleyball" value=""/>
  <add key="PlatformArnAPNS_SANDBOX_Netball" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Catchball"/>
  <add key="PlatformArnAPNS_SANDBOX_Waterpolo" value="arn:aws:sns:eu-west-1:650058904732:app/APNS_SANDBOX/LogLig-Waterpolo-dev"/>

  <add key="PlatformArnGCM_TEST" value="arn:aws:sns:eu-west-1:650058904732:app/GCM/LogLig-Android"/>

  <!-- CardCom General Settings -->
  <add key="CardComIndicatorUrlNgrokTunnel" value="" /> <!-- When debugging on local(localhost), use ngrok to expose your localhost to the outer network. Needed for CardCom IndicatorURL. Leave it empty to disable -->

  <!-- CardCom Catchball union 15 settings -->
  <!--Debug-->
  <add key="CardComTerminalDebug" value="1000"/>
  <add key="CardComUsernameDebug" value="barak9611" />
  <add key="CardComLanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComTerminal" value="1000"/>
  <add key="CardComUsername" value="barak9611" />
  <add key="CardComLanguage" value="he" />
  <!--<add key="CardComTerminal" value="17918"/>
  <add key="CardComUsername" value="fwYesD9TrsOq7lZhGiqA" />
  <add key="CardComLanguage" value="he" />   -->

  <!-- CardCom Catchball union 66 settings -->
  <!--Debug-->
  <add key="CardComCatchball66TerminalDebug" value="1000"/>
  <add key="CardComCatchball66UsernameDebug" value="barak9611" />
  <add key="CardComCatchball66LanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComCatchball66Terminal" value="1000"/>
  <add key="CardComCatchball66Username" value="barak9611" />
  <add key="CardComCatchball66Language" value="he" />
  <!--<add key="CardComCatchball66Terminal" value="75052"/>
  <add key="CardComCatchball66Username" value="ZCoqMbPkEaEUXiezbooL" />
  <add key="CardComCatchball66Language" value="he" />   -->
  
  <!-- CardCom Basketball settings -->
  <!--Debug-->
  <add key="CardComBasketballTerminalDebug" value="1000"/>
  <add key="CardComBasketballUsernameDebug" value="barak9611" />
  <add key="CardComBasketballLanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComBasketballTerminal" value="1000"/>
  <add key="CardComBasketballUsername" value="barak9611" />
  <add key="CardComBasketballLanguage" value="he" />
  <!--<add key="CardComBasketballTerminal" value="57650"/>
  <add key="CardComBasketballUsername" value="CJQ9YyMvCGChmvbg4mkv" />
  <add key="CardComBasketballLanguage" value="he" />  -->

  <!-- CardCom wave surfing settings -->
  <!--Debug-->
  <add key="CardComWaveSurfingTerminalDebug" value="1000"/>
  <add key="CardComWaveSurfingUsernameDebug" value="barak9611" />
  <add key="CardComWaveSurfingLanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComWaveSurfingTerminal" value="1000"/>
  <add key="CardComWaveSurfingUsername" value="barak9611" />
  <add key="CardComWaveSurfingLanguage" value="he" />
  <!--<add key="CardComWaveSurfingTerminal" value="61402"/>
  <add key="CardComWaveSurfingUsername" value="c2WIqIlH4lNBySdk7avy" />
  <add key="CardComWaveSurfingLanguage" value="he" /> -->
  
  <!-- CardCom tennis settings -->
  <!--Debug-->
  <add key="CardComTennisTerminalDebug" value="1000"/>
  <add key="CardComTennisUsernameDebug" value="barak9611" />
  <add key="CardComTennisLanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComTennisTerminal" value="1000"/>
  <add key="CardComTennisUsername" value="barak9611" />
  <add key="CardComTennisLanguage" value="he" />
  <!--<add key="CardComTennisTerminal" value="72896"/>
  <add key="CardComTennisUsername" value="7YZZqoYN13vHkRXl6pfO" />
  <add key="CardComTennisLanguage" value="he" />-->

  <!-- CardCom waterpolo settings -->
  <!--Debug-->
  <add key="CardComWaterpoloTerminalDebug" value="1000"/>
  <add key="CardComWaterpoloUsernameDebug" value="barak9611" />
  <add key="CardComWaterpoloLanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComWaterpoloTerminal" value="1000"/>
  <add key="CardComWaterpoloUsername" value="barak9611" />
  <add key="CardComWaterpoloLanguage" value="he" />
  <!--<add key="CardComWaterpoloTerminal" value="67450"/>
  <add key="CardComWaterpoloUsername" value="3xDuoQQnoa9NumfBTuik" />
  <add key="CardComWaterpoloLanguage" value="he" /> -->

  <!-- CardCom Soccer settings -->
  <!--Debug-->
  <add key="CardComSoccerTerminalDebug" value="1000"/>
  <add key="CardComSoccerUsernameDebug" value="barak9611" />
  <add key="CardComSoccerLanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComSoccerTerminal" value="1000"/>
  <add key="CardComSoccerUsername" value="barak9611" />
  <add key="CardComSoccerLanguage" value="he" />
  <!--<add key="CardComSoccerTerminal" value="71279"/>
  <add key="CardComSoccerUsername" value="F58phIGEmHzJiTSf9X1I" />
  <add key="CardComSoccerLanguage" value="he" /> -->

  <!-- CardCom Rugby settings -->
  <!--Debug-->
  <add key="CardComRugbyTerminalDebug" value="1000"/>
  <add key="CardComRugbyUsernameDebug" value="barak9611" />
  <add key="CardComRugbyLanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComRugbyTerminal" value="1000"/>
  <add key="CardComRugbyUsername" value="barak9611" />
  <add key="CardComRugbyLanguage" value="he" />
  <!--<add key="CardComRugbyTerminal" value="72119"/>
  <add key="CardComRugbyUsername" value="tYoCiSdSIY9g8rzb6dn1" />
  <add key="CardComRugbyLanguage" value="he" /> -->

  <!-- CardCom Gymnastic club 3610 settings -->
  <!--Debug-->
  <add key="CardComGymnasticClub3610TerminalDebug" value="1000"/>
  <add key="CardComGymnasticClub3610UsernameDebug" value="barak9611" />
  <add key="CardComGymnasticClub3610LanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComGymnasticClub3610Terminal" value="1000"/>
  <add key="CardComGymnasticClub3610Username" value="barak9611" />
  <add key="CardComGymnasticClub3610Language" value="he" />
  <!--<add key="CardComGymnasticClub3610Terminal" value="90879"/>
  <add key="CardComGymnasticClub3610Username" value="49bDgfPjL3pl4qg8DbRx" />
  <add key="CardComGymnasticClub3610Language" value="he" /> -->

  <!-- CardCom Gymnastic union 36 settings -->
  <!--Debug-->
  <add key="CardComGymnasticUnion36TerminalDebug" value="1000"/>
  <add key="CardComGymnasticUnion36UsernameDebug" value="barak9611" />
  <add key="CardComGymnasticUnion36LanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComGymnasticUnion36Terminal" value="1000"/>
  <add key="CardComGymnasticUnion36Username" value="barak9611" />
  <add key="CardComGymnasticUnion36Language" value="he" />
  <!--<add key="CardComGymnasticUnion36Terminal" value="94876"/>
  <add key="CardComGymnasticUnion36Username" value="tZkzPgB9U5ZFJj883MNr" />
  <add key="CardComGymnasticUnion36Language" value="he" /> -->

  <!-- CardCom Climbing union 59 settings -->
  <!--Debug-->
  <add key="CardComClimbingUnion59TerminalDebug" value="1000"/>
  <add key="CardComClimbingUnion59UsernameDebug" value="barak9611" />
  <add key="CardComClimbingUnion59LanguageDebug" value="en" />
  <!--Release-->
  <add key="CardComClimbingUnion59Terminal" value="1000"/>
  <add key="CardComClimbingUnion59Username" value="barak9611" />
  <add key="CardComClimbingUnion59Language" value="he" />
  <!--<add key="CardComClimbingUnion59Terminal" value="94463"/>
  <add key="CardComClimbingUnion59Username" value="SKgrtTc5iMC6ZtXX6ldb" />
  <add key="CardComClimbingUnion59Language" value="he" /> -->

  <!--LiqPay Settings-->
  <add key="LiqPayUkraineGymnasticPublicKey" value="i81314388595"/>
  <add key="LiqPayUkraineGymnasticPrivateKey" value="Z2ySHhoC3Xu6v4OddfSXqYTXsDz7ZEx9ViSBGc1j" />
  <add key="LiqPayUkraineGymnasticLanguage" value="en" /> <!--ru, uk, en-->
  <add key="LiqPayUkraineGymnasticCurrency" value="UAH" /> <!--USD, EUR, RUB, UAH-->
  <add key="LiqPayUkraineGymnasticSandbox" value="true" /> <!-- "true" or "false", enable or disable testing mode -->
  <add key="LiqPayUkraineGymnasticSandboxEmail" value="info@loglig.com" /> <!--Sent by LiqPay, not by Loglig -->
  <add key="LiqPayUkraineGymnasticNgrokTunnel" value="af4a30ea.ngrok.io" /> <!-- When debugging on local(localhost), use ngrok to expose your localhost to the outer network. Needed for liqpay callback. Leave it empty to disable -->
  
  <!--OfficeGuy Settings-->
  <!--Debug-->
  <add key="OfficeGuyBicycleCompanyIdDebug" value="44554940"/>
  <add key="OfficeGuyBicycleApiKeyDebug" value="t06idqBGnGLt68BqAOhrhhSQem9qEZgSlZGxkQ7FRq1oAIP7TX"/>
  <!--Release-->
  <add key="OfficeGuyBicycleCompanyId" value="12837553"/>
  <add key="OfficeGuyBicycleApiKey" value="iKSonmpVOCItlK7h9E0Lhix5MMTzmDGvSdL2GkNiN5Q9qfXgwv"/>

  <!--Production server-->
  <!--<add key="ImageUrl" value="C:\Publish\ProductionCMS\assets\players\" />
    <add key="ChatUrl" value="C:\Publish\ProductionCMS\assets\uploads" />
    <add key="TeamUrl" value="C:\Publish\ProductionCMS\assets\teams" />
    <add key="LeagueUrl" value="C:\Publish\ProductionCMS\assets\leagues" />-->
  <!--Dev server-->
  <add key="ImageUrlLocal" value="D:\log-lig-apps-new\prod\atheletic\LogLig-Main\WebApi\assets\players\" />
  <add key="ImageUrl" value="C:\Publish\DevCMS\assets\players\" />
  <add key="ChatUrl" value="C:\Publish\DevCMS\assets\uploads" />
  <add key="TeamUrl" value="C:\Publish\DevCMS\assets\teams" />
  <add key="ClubUrl" value="C:\Publish\DevCMS\assets\clubs" />
  <add key="LeagueUrl" value="C:\Publish\DevCMS\assets\leagues" />

  <!--Local server-->
  <!--<add key="ImageUrl" value="C:\Users\Snowww\Documents\Visual Studio 2017\Projects\logligServer\Loglig-Main\CmsApp\assets\players\" />
  <add key="ChatUrl" value="C:\Users\Snowww\Documents\Visual Studio 2017\Projects\logligServer\Loglig-Main\CmsApp\assets\uploads" />
  <add key="TeamUrl" value="Z:\BitBucket\LogLig-Server\LogLig-Main\CmsApp\assets\teams" />
  <add key="LeagueUrl" value="Z:\BitBucket\LogLig-Server\LogLig-Main\CmsApp\assets\leagues" />-->
  
</appSettings>
